<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
    </head>
    <body>
        <h2>Choose Your Fro-Yo</h2>
            <form action="/froyo_results" method="get">
                <label for="flavor">What is your favorite Fro-Yo flavor?</label>
                <input type="text" id="flavor" name="flavor" required>
                <br>
                <label for="toppings">Choose your toppings:</label>
                <input type="text" id="toppings" name="toppings" required>
                <br>
                <input type="submit" value="Submit">
            </form>




        
    </body>
</html>